body {
 margin: 80px 10%;
 font-family: Arial;
 font-size: 15px;
 line-height: 1.3em;
}
.sandbox {
    width:50px;
    height:25px;
 margin: 0.7em 0;
 padding: 1em;
}
page.css

.popover {
 position: absolute;
 top: 0;
 left: 0;
 max-height: 240px;
 width: 220px;
 display: none;
}
.popover.wider {
 width: 340px;
}
.popover.large {
 width: 470px;
 max-height: 350px;
}
.popover .arrow, .popover .top-arrow {
 position: absolute;
 top: 0; 
 left: 50%;
 margin: -20px 0 0 -6px;
 width: 0; 
 height: 0;
 border-top: 10px solid transparent;
 border-left: 10px solid transparent;
 border-right: 10px solid transparent;
 border-bottom: 10px solid #121212;
}
.popover .bottom-arrow {
 top: 100%; left: 50%;
 margin: 0 0 0 -6px;
 border-top: 10px solid #121212;
 border-bottom: 10px solid transparent;
}
.popover .left-arrow {
 top: 50%; left: -10px;
 margin: -6px 0 0;
 border-right: 10px solid #121212;
 border-bottom: 10px solid transparent;
}
.popover .right-arrow {
 top: 50%; left: 100%;
 margin: -6px 0 0;
 border-left: 10px solid #121212;
 border-bottom: 10px solid transparent;
}
.popover .wrap {
 background: white;
 border: 3px solid #121212;
 border-radius: 4px;
 -moz-border-radius: 4px;
 -webkit-border-radius: 4px;
}
.popover .title {
 background: #121212 url(popover_gradient.png) repeat-x;
 color: white;
 font-size: 1.3em;
 text-align: center;
 padding: 8px 0 0 0;
 height: 27px;
}
.popover .content {
 padding: 15px;
 max-height: 175px;
 overflow: auto;
 line-height: 1.3em;
 font-size: 0.9em;
}
.popover.large .content {
 max-height: 285px;
}
