


<%= render :partial => 'form' %>

<%= simple_form_for @foto, :html => {:multipart => true} do |f| %>
 <%= f.file_format :photo %>

<% end %>

<p><%= link_to "Back to promociones", promociones_path %></p>
